@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);

/* Global CSS variables */
:root {
  --font-weight: 400;
  --border-radius: 0;
  --header-height: 134px;
}
@media (min-width: 576px) {
  :root {
    --header-height: 200px;
  }
}
@media (min-width: 768px) {
  :root {
    --header-height: 260px;
  }
}
@media (min-width: 992px) {
  :root {
    --header-height: 300px;
  }
}
@media (min-width: 1200px) {
  :root {
    --header-height: 360px;
  }
}



[data-theme=light],
:root:not([data-theme=dark]) {
  --pagination-background: #edeff3;
  --pagination-color: hsl(205, 10%, 50%);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pagination-background: #141e26;
    --pagination-color: hsl(205, 10%, 50%);
  }
}
[data-theme=dark] {
  --pagination-background: #141e26;
  --pagination-color: hsl(205, 10%, 50%);
}

/* Typography */
h2,
h3,
hgroup> :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

/* Header */
.hero {
  background-color: black;
  background-image: url("/assets/img/header1.png");
  background-position: center;
  background-size: cover;
  height: var(--header-height);
}

hgroup h2 {
  font-family: "Press Start 2P", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: var(--primary);
}
@media (min-width: 768px) {
  hgroup h2 {
    font-size: 1.2rem;
  }
}

hgroup h2 a {
  color: var(--primary);
}

/* Nav */
summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

summary svg {
  margin-top: 5px;
  margin-right: -8px;
}

code {
  font-family: "Fira Mono", Menlo, Consolas, monospace;
}

nav.pagination {
  background-color: var(--pagination-background);
  color: var(--pagination-color);
  margin-top: -40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}