<nav class="container-fluid">
  <ul>
    <li>
      <a href="/" class="contrast"><strong><span class="iconify" data-icon="mdi-test-tube"></span></strong></a>
    </li>
  </ul>
  <ul>
    <li>
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link" class="contrast" title="Theme"><span class="iconify" data-icon="mdi-lightbulb-on"></span></summary>
        <ul role="listbox">
          <li><a href="#" data-theme-switcher="auto">Auto</a></li>
          <li><a href="#" data-theme-switcher="light">Light</a></li>
          <li><a href="#" data-theme-switcher="dark">Dark</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link" class="contrast" title="Systems"><span class="iconify" data-icon="mdi-desktop-classic"></span></summary>
        <ul role="listbox">
          <li><a href="/Tags/agon.html">Agon</a></li>
          <li><a href="/Tags/eater.html">Ben Eater's 6502</a></li>
          <li><a href="/Tags/c64.html">Commodore 64</a></li>
          <li><a href="/Tags/gameboy.html">Game Boy</a></li>
          <li><a href="/Tags/rc2014.html">RC2014</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link" class="contrast" title="CPUs"><span class="iconify" data-icon="mdi-chip"></span></summary>
        <ul role="listbox">
          <li><a href="/Tags/6502.html">MOS 65xx</a></li>
          <li><a href="/Tags/8080.html">Intel 8080</a></li>
          <li><a href="/Tags/z80.html">Zilog Z80</a></li>
        </ul>
      </details>
    </li>
    <li>
      <a href="https://github.com/8-bitlabs/8-bitlabs.github.io" class="contrast" title="Edit on GitHub"><strong><span class="iconify" data-icon="mdi-github"></span></strong></a>
    </li>
  </ul>
</nav>