<nav class="border fixed split-nav">
  <div class="nav-brand">
    <h3><a href="https://8bitlabs.ca">8-Bit Labs</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <label for="collapsible1">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        <li><a href="#">6502</a></li>
        <li><a href="#">Z80</a></li>
        <li><a href="#">Game Boy</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Github</a></li>
      </ul>
    </div>
  </div>
</nav>