<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <!-- Hero -->
    <div class="hero" data-theme="dark">
      {% include nav.html %}

      <header class="container">
        <hgroup>
          <h1><a href="/">8-Bit <span class="iconify" data-icon="mdi-test-tube"></span> Labs</a></h1>
          <h2>Experiments in retro computers, assembly language and electronics</h2>
        </hgroup>
      </header>

    </div>
    <!-- ./ Hero -->

  <!-- Main -->
  <main class="container">
    {{content}}
  </main>

  <!-- Minimal theme switcher -->
  <script src="/js/minimal-theme-switcher.js"></script>
</body>
</html>
